{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>Transactions</h1>
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in transactions %}
                <tr>
                    <td>{{i.symbol}}</td>
                    <td>{{i.shares}}</td>
                    <td>{{i.type}}</td>
                    <td>{{i.price}}</td>
                    <td>{{i.transaction_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
