{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2> Quote </h2>
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Search" type="text">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    {% if stocks %}
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ stocks.symbol }}</td>
                        <td>{{ stocks.price | usd }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
